<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Alterando Album</h1>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
  <div class="panel-footer">
    <%= link_to 'Show', @album %> |
    <%= link_to 'Back', albums_path %>
  </div>
</div>