<div class="jumbotron">
  <h1><%= image_tag("audioOrganizerLogo.png") %></h1>
  <h2>Sobre o Audio Organizer</h2>
  <p>O audio organizer foi desenvolvido em Ruby on Rails para ajudar o did-a-dia do produtor musical ou pequenos estúdios.</p>
  <p>Entre em contato para suporte no email:fpneto2000@hotmail.com</p>
   <%= link_to "Home", root_path, class:"btn btn-primary" %>
</div>

