<div class="jumbotron">
  <h1><%= image_tag("audioOrganizerLogo.png") %></h1>
  <h2>Bem-vindo ao Audio Organizer</h2>
  <p>O Sistema foi desenvolvido para ajudar no dia-a-dia do seu home studio.</p>
  <p>Obrigado por utilizar!!!</p>
  <%= link_to "Sobre...", home_about_path, class:"btn btn-default" %>
 </div>

